*{
    margin: 0;
    padding: 0;
}
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.682),rgba(0,0,0,0.711)),
    url('./images/studio-republic-qeij_dhDhGg-unsplash.jpg') no-repeat center / cover;
}
 