
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0
  }
  a:active {
    color: black;
  }
  
  @layer base {
    li {
      @apply p-1
    }
  }
  .home{
      background: linear-gradient(rgba(0, 0, 0, 0.650),rgba(0,0,0,0.650)),
        url('./images/bg.jpg') no-repeat center / cover;
        
      }
      .service__logo{
        color: rgb(16 185 129);
        
      }
  h1::before{
    border-left: 6px solid green;
    height: 100px;
  }
  h1::after{
  border-left: 6px solid rgb(106, 124, 106);
  height: 100px;
  }
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  a{
    font-family: Roboto;
    cursor: pointer;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
    font-weight: 600;
 
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
  h1{
    font-family: 'Playfair Display', serif;
  }
  h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
  }
  h3{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
  }
  h4{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
  h5{
    font-family: 'Roboto Serif', serif;
    font-weight: 600;
    letter-spacing: 1px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
  p{
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
  }
  span{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    font-weight: 600;
  }
  label{
   
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
  }
  



  @layer utilities {
    @variants responsive {
      .masonry-3-col {
        column-count: 3;
        column-gap: 2.5em;
      }
      .masonry-2-col {
        column-count: 2;
        column-gap: 2.5em;
      }
      .break-inside {
        break-inside: avoid;
      }
    }
  }
  

  




